[
    ( args: [], bytes: [ 48, 120, 48,  48], ),
    ( args: [], bytes: [ 48, 120, 48,  49], ),
    ( args: [], bytes: [ 48, 120, 48,  50], ),
    ( args: [], bytes: [ 48, 120, 48,  51], ),
    ( args: [], bytes: [ 48, 120, 48,  52], ),
    ( args: [], bytes: [ 48, 120, 48,  53], ),
    ( args: [], bytes: [ 48, 120, 48,  54], ),
    ( args: [], bytes: [ 48, 120, 48,  55], ),
    ( args: [], bytes: [ 48, 120, 48,  56], ),
    ( args: [], bytes: [ 48, 120, 48,  57], ),
    ( args: [], bytes: [ 48, 120, 48,  97], ),
    ( args: [], bytes: [ 48, 120, 48,  98], ),
    ( args: [], bytes: [ 48, 120, 48,  99], ),
    ( args: [], bytes: [ 48, 120, 48, 100], ),
    ( args: [], bytes: [ 48, 120, 48, 101], ),
    ( args: [], bytes: [ 48, 120, 48, 102], ),
]
